html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 95%;
    justify-content: space-evenly;
    row-gap: 10px;
}

/* .contrast {
    width: 100px;
    height: 100px;
    outline: 2px dashed black;
    background-color: crimson;
} */

@media screen and (min-width:772px) {
    .grid {
        grid-template-columns: 45% 45%;
        align-items: center;
    }

    .grid img {
        border-radius: 50%;
    }

    .grid figure:nth-child(9n) {
        grid-column: span 2;
    }

    /* .grid img:nth-last-child(-n + 1) {
        column-span: 1 / span 2;
    } */
}

@media screen and (min-width:992px) {
    .grid img{
        border: none;
        border-radius: 35px;
        width: 100%;
    }

    .grid figure:nth-child(3n) {
        grid-column: 1 / span 2;
    }
    
}

@media (prefers-reduced-motion) {
    .animation {
        animation: dissolve 4s linear infinite both;
    }
}

@media (prefers-contrast: more) {
    .grid img{
        border: 2px solid black;
        border-radius: 35px;
    }

}